@font-face {
  font-family: "Pretendard";
  src:
    url("/font/Pretendard-Regular.woff2") format("woff2"),
    url("/font/Pretendard-Regular.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Pretendard", sans-serif;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 16px;
  height: calc(100vh - 56px - 72px);
}

.nav-bar {
  height: 56px;
}

.bottom-tap-bar {
  height: 72px;
}

@media (max-width: 375px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}